<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue 数据绑定</title>
	<script src="./js/vue.min.js"></script>
</head>
<body>
	<div id="app" alt="aaaa">
		{{message+'My Vue!' |Myfilter}}
		<input v-model="message.split(' ').reverse().join(' ')">

		<ul><li v-for="(item,index) in hint">
			{{message}} -- {{index}} -- {{item.key |Myfilter}}
		</li></ul>
		<div v-if="Math.random()>0.5">大于一半</div>
		<div v-else>小于一半</div>
		Math.random()
		<h1 v-show="isSh">我是show</h1>

	</div>
	<br>
	
	
	
	<script src="./js/test1.js"></script>
</body>
</html>